*{
  font-family: helvetica;
}


.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
    background-color: #6BBF54; /* Green */
    color: white;
}


body {
    background-color: #3498db;
    margin:0 auto;
}
#thermometer .goal {
    position: absolute;
    right: 0;
    top: 0;
}
#thermometer .amount {
    border-top: 1px solid #006600;
    color: black;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer .progress .amount {
    border-top: 1px solid #006600;
    color: #006600;
    left: 0;
    padding: 0 0 0 75px;
    position: absolute;
}
#thermometer {
    border-radius: 12px;
    height: 300px;
    margin-top:20px;
    position: relative;
}
#thermometer .track {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 8px;
    height: 280px;
    left: 10px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 30px;
}
#thermometer .progress {
    background: green none repeat scroll 0 0;
    border-radius: 23px 23px 0 0;
    bottom: 0;
    height: 0;
    left: 5px;
    margin-bottom: 0 !important;
    position: absolute;
    width: 69%;
    z-index: 100;
}
#thermometer .goal {
    position: absolute;
    right: 0;
    top: 0;
}
#thermometer .amount {
    border-top: 1px solid #006600;
    color: black;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer .progress .amount {
    border-top: 1px solid #006600;
    color: #006600;
    left: 0;
    padding: 0 0 0 75px;
    position: absolute;
}
.bulb {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -42px;
    display: block;
    height: 40px;
    left: -14px;
    padding: 10px;
    position: absolute;
    width: 43px;
}
.inner-bulb {
    background-color: green;
    border-radius: 50%;
    height: 40px;
    left: 0;
    position: relative;
    top: 0;
    width: 40px;
}
